<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    <a class="navbar-brand text-primary" routerLink="/">
      Idle Ingredients
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/orders" routerLinkActive="active">
            Orders
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/resources" routerLinkActive="active">
            Resources
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/trains" routerLinkActive="active">
            Trains
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>